creatomate_autovideos.json
{
  "name": "Catholic Saints",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -896,
        96
      ],
      "id": "004ea064-63fe-4811-92bd-853b6aef0f1f",
      "name": "Agendador"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "name = 'Santos Católicos' and mimeType = 'application/vnd.google-apps.folder' and 'root' in parents",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -672,
        96
      ],
      "id": "e9a18318-8dfa-481d-a960-2ef4f01ae594",
      "name": "Procura Pasta Principal",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aoxQQ24M6U8rtHEt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{ $json.id }}' in parents and mimeType = 'application/vnd.google-apps.folder'      ",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        96
      ],
      "id": "eb45510e-e958-4c9b-b12f-d9a0447e46a7",
      "name": "Procura Pasta Santos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aoxQQ24M6U8rtHEt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{ $json.id }}' in parents",
        "filter": {},
        "options": {
          "fields": [
            "mimeType",
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        96
      ],
      "id": "106002a0-52da-4c1f-ad66-59e8c5e5f46a",
      "name": "Pasta Específica Santo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aoxQQ24M6U8rtHEt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed99ad02-5e13-45e2-b705-2f57bfb4be93",
              "leftValue": "={{ $json.name }}",
              "rightValue": "ensinamentos.txt",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "97e0b106-6370-4c48-9d2d-3908abdae704",
      "name": "Filtro Ensinamentos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "64a85672-fba9-4290-9296-41bc19946057",
              "leftValue": "={{ $json.name }}",
              "rightValue": "imagens",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "97281154-dc98-4577-ada9-2d6e6849f633",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.folder",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        672,
        192
      ],
      "id": "6a8fbb95-2f4d-4eff-a28b-7df77eb2c748",
      "name": "Filtro Imagens"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Filtro Ensinamentos').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "ea95c0bb-2179-4e19-846f-2c06c1501bfa",
      "name": "Download Ensinamentos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aoxQQ24M6U8rtHEt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{ $json.id }}' in parents and mimeType starts with 'image/'",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        192
      ],
      "id": "1b705cc1-e70b-4170-a6c8-d896acc4066f",
      "name": "Lista Imagens Reais",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aoxQQ24M6U8rtHEt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Lista Imagens Reais').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1344,
        192
      ],
      "id": "c1f64e18-b5f8-4928-9b82-00530cdf61d3",
      "name": "Download Imagens",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aoxQQ24M6U8rtHEt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "ensinamentos_content",
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "37dfb8da-ae7b-4d66-9bd4-e7c4b6199f88",
      "name": "Extract Ensinamentos Text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://texttospeech.googleapis.com/v1/text:synthesize",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"text\": {{ JSON.stringify($json.cleaned_ensinamentos_content) }}\n  },\n  \"voice\": {\n    \"languageCode\": \"pt-BR\",\n    \"name\": \"pt-BR-Chirp3-HD-Orus\",\n    \"ssmlGender\": \"MALE\"\n  },\n  \"audioConfig\": {\n    \"audioEncoding\": \"MP3\",\n    \"sampleRateHertz\": 24000\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        0
      ],
      "id": "37a1e54a-b3c1-4746-97a8-4fa64fc1f0bc",
      "name": "Google TTS API",
      "credentials": {
        "googleOAuth2Api": {
          "id": "eZca2SiQTqpil72P",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acessa diretamente o item JSON atual que o nó está processando\n// ($json refere-se ao JSON do item de entrada atual)\nlet textContent = $json.ensinamentos_content;\n\n// Passo 1: Remover caracteres de controle Unicode (ASCII não-imprimíveis)\n// Isso é crucial para dados que vêm de arquivos de texto ou sistemas externos\ntextContent = textContent.replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, '');\n\n// Passo 2: Normalizar quebras de linha e múltiplos espaços em um único espaço, e remover espaços no início/fim\ntextContent = textContent.replace(/\\s+/g, ' ').trim();\n\n// Retorna um novo objeto com todas as propriedades do item original\n// e adiciona a nova propriedade 'cleaned_ensinamentos_content'\nreturn [{\n  ...$json,\n  cleaned_ensinamentos_content: textContent\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "221bac6e-4d81-463b-9602-ace41f833a4f",
      "name": "Função Limpa Texto"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=audioContent",
        "binaryPropertyName": "audio_tts_mp3",
        "options": {
          "fileName": "audio_santo.mp3",
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1344,
        0
      ],
      "id": "fa566afa-6db7-46f3-89db-801e125a290a",
      "name": "Save TTS Audio"
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "create",
        "bucketName": "santos_catolicos",
        "objectName": "=audio_{{ $('Procura Pasta Santos').item.json.name }}.mp3",
        "createBinaryPropertyName": "audio_tts_mp3",
        "createData": {},
        "createQuery": {
          "predefinedAcl": "publicRead"
        },
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        1568,
        0
      ],
      "id": "9f7f807f-04ad-4885-8afa-55c473ed334f",
      "name": "Bucket Áudios",
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "jUhshVV0wjxlsZAT",
          "name": "Google Cloud Storage account"
        }
      }
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "create",
        "bucketName": "santos_catolicos",
        "objectName": "=imagem_{{ $('Procura Pasta Santos').item.json.name }}.jpg",
        "createData": {},
        "createQuery": {
          "predefinedAcl": "publicRead"
        },
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        1568,
        192
      ],
      "id": "56185325-d6c2-47fe-92fd-379734ac4c9f",
      "name": "Bucket Imagens",
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "jUhshVV0wjxlsZAT",
          "name": "Google Cloud Storage account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "saintName, saintId",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2016,
        96
      ],
      "id": "2406abe5-f3d9-460d-a669-ac55bfe37f1b",
      "name": "Merge Saint Assets"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a2cf7c0-b576-41bb-af77-dc87fb4f87ec",
              "name": "saintId",
              "value": "={{ $('Adicionar Info do Santo ao Áudio').item.json.saintId }}",
              "type": "string"
            },
            {
              "id": "d14889da-36dc-4340-ad60-7a3ab29ca5bc",
              "name": "saintName",
              "value": "={{ $('Adicionar Info do Santo ao Áudio').item.json.saintName }}",
              "type": "string"
            },
            {
              "id": "24a07b9b-4b0b-41a9-a441-46dbe8e49fa7",
              "name": "audioUrl",
              "value": "={{ $json.mediaLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        0
      ],
      "id": "14b6af7c-5caa-4365-8cfd-52a5e1930414",
      "name": "Set Audio URL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1504c841-3c7b-43c3-97ce-d121e497082c",
              "name": "saintId",
              "value": "={{ $('Download Imagens').item.json.saintId }}",
              "type": "string"
            },
            {
              "id": "e6f5707d-2ef7-48df-a272-fd7a801ce599",
              "name": "saintName",
              "value": "={{ $('Download Imagens').item.json.saintName }}",
              "type": "string"
            },
            {
              "id": "38fa2485-49a6-49d2-9809-8bad3ac9d624",
              "name": "imageUrl",
              "value": "={{ $json.mediaLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        192
      ],
      "id": "bcef70ae-bbdc-4364-a08c-0eb1411ad2f1",
      "name": "Set Image URL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f8d10cb-a7d1-45fc-b598-fb8cb0e39c06",
              "name": "saintId",
              "value": "={{ $('Procura Pasta Santos').item.json.id }}",
              "type": "string"
            },
            {
              "id": "4e270669-ff41-48e9-ae2a-7260d100fe21",
              "name": "saintName",
              "value": "={{ $('Procura Pasta Santos').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        192
      ],
      "id": "8ad8a3f6-8c77-408d-805f-9746c83dd0d3",
      "name": "Adicionar Info do Santo à Imagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f8d10cb-a7d1-45fc-b598-fb8cb0e39c06",
              "name": "saintId",
              "value": "={{ $('Procura Pasta Santos').item.json.id }}",
              "type": "string"
            },
            {
              "id": "4e270669-ff41-48e9-ae2a-7260d100fe21",
              "name": "saintName",
              "value": "={{ $('Procura Pasta Santos').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "2708bc09-6992-4782-9568-2a414f91c1f6",
      "name": "Adicionar Info do Santo ao Áudio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.creatomatePayload) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        96
      ],
      "id": "b7603c4b-30db-4c1c-bec3-64886d954716",
      "name": "Creatomate Render API",
      "credentials": {
        "httpBearerAuth": {
          "id": "U6zDEWcDDps1P1QH",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Código para o nó \"Construir Payload Creatomate\" no n8n\n// Processar o item atual ($json contém os dados do item atual)\nconst data = $json;\n    \n// Extrair as propriedades necessárias\nconst saintId = data.saintId;\nconst saintName = data.saintName;\nconst audioUrl = data.audioUrl;\nconst imageUrl = data.imageUrl;\n\n// Log para debug\nconsole.log('Processando santo:', saintName);\nconsole.log('Audio URL:', audioUrl);\nconsole.log('Image URL:', imageUrl);\n\n// Validar se temos todos os dados necessários\nif (!saintId || !saintName || !audioUrl || !imageUrl) {\n    console.warn(`Dados incompletos para o santo ${saintName}. Retornando item vazio...`);\n    return { json: { error: 'Dados incompletos', saintName: saintName } };\n}\n\n// Configurações do vídeo\nconst videoDuration = 30; // 30 segundos de duração padrão\n\n// Construir o payload para usar template específico do Creatomate\nconst creatomatePayload = {\n    \"template_id\": \"644e643c-cc26-43db-8513-42546ad558a7\",\n    \"modifications\": {\n        // Aqui você define quais elementos do template quer modificar\n        // Substitua os valores conforme os elementos do seu template\n        \"Text-1\": saintName,           // Nome do santo (ajuste o nome do elemento conforme seu template)\n        \"Image-1\": imageUrl,           // URL da imagem (ajuste o nome do elemento conforme seu template)\n        \"Audio-1\": audioUrl            // URL do áudio (ajuste o nome do elemento conforme seu template)\n    }\n};\n\nconsole.log(`Payload criado com sucesso para ${saintName}`);\nconsole.log('Payload completo:', JSON.stringify(creatomatePayload, null, 2));\n\n// Retornar o item processado\nreturn {\n    json: {\n        saintId: saintId,\n        saintName: saintName,\n        audioUrl: audioUrl,\n        imageUrl: imageUrl,\n        creatomatePayload: creatomatePayload,\n        fullPayload: JSON.stringify(creatomatePayload)\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        96
      ],
      "id": "92387932-9d70-4a10-bc85-13bbb95323be",
      "name": "Construir Payload Creatomate",
      "alwaysOutputData": true,
      "executeOnce": false
    }
  ],
  "pinData": {},
  "connections": {
    "Agendador": {
      "main": [
        [
          {
            "node": "Procura Pasta Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procura Pasta Principal": {
      "main": [
        [
          {
            "node": "Procura Pasta Santos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procura Pasta Santos": {
      "main": [
        [
          {
            "node": "Pasta Específica Santo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pasta Específica Santo": {
      "main": [
        [
          {
            "node": "Filtro Imagens",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtro Ensinamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Ensinamentos": {
      "main": [
        [
          {
            "node": "Adicionar Info do Santo ao Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Imagens": {
      "main": [
        [
          {
            "node": "Lista Imagens Reais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista Imagens Reais": {
      "main": [
        [
          {
            "node": "Adicionar Info do Santo à Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Ensinamentos": {
      "main": [
        [
          {
            "node": "Extract Ensinamentos Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ensinamentos Text": {
      "main": [
        [
          {
            "node": "Função Limpa Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Função Limpa Texto": {
      "main": [
        [
          {
            "node": "Google TTS API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google TTS API": {
      "main": [
        [
          {
            "node": "Save TTS Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save TTS Audio": {
      "main": [
        [
          {
            "node": "Bucket Áudios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Imagens": {
      "main": [
        [
          {
            "node": "Bucket Imagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bucket Áudios": {
      "main": [
        [
          {
            "node": "Set Audio URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bucket Imagens": {
      "main": [
        [
          {
            "node": "Set Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Audio URL": {
      "main": [
        [
          {
            "node": "Merge Saint Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image URL": {
      "main": [
        [
          {
            "node": "Merge Saint Assets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Saint Assets": {
      "main": [
        [
          {
            "node": "Construir Payload Creatomate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar Info do Santo à Imagem": {
      "main": [
        [
          {
            "node": "Download Imagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar Info do Santo ao Áudio": {
      "main": [
        [
          {
            "node": "Download Ensinamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Payload Creatomate": {
      "main": [
        [
          {
            "node": "Creatomate Render API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "35774f7d-c25a-4f39-b4cf-1bda438fcb96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f279f03eb12bfb2458bd49a5096fddb1f29ff7a8f8ed3a1026d4104b1f1bc08"
  },
  "id": "fq1IlUPBiq3B6MO4",
  "tags": []
}